@import '~@styles/breakpoints';
@import '~@styles/colors';

:global .webp-supported :local .Half {
  &::after {
    background-image: url('./assets/half-bg-2.webp');

    @include breakpoints(mobile) {
      background-image: url('./assets/half-bg-2_mobile.webp');
    }
  }

  &::before {
    background-image: url('./assets/half-bg-1.webp');

    @include breakpoints(mobile) {
      background-image: url('./assets/half-bg-1_mobile.webp');
    }
  }
}

.Root {
  background: $background-lighten;
  overflow: hidden visible;
  width: 100%;
}

.Half {
  background-image: linear-gradient(to bottom, #5461ea, #76adff);
  margin: 300px 0 0;
  padding: 380px 0 0;
  position: relative;
  width: 100%;

  @include breakpoints(mobile) {
    margin: 520px 0 0;
    padding: 200px 0 0;
  }

  &Cover {
    display: flex;
    justify-content: center;
    width: 100%;

    &::after {
      background: url('./assets/half-bg-2.png') no-repeat left bottom / contain;
      bottom: 0;
      content: '';
      display: block;
      height: 1400px;
      position: absolute;
      right: 0;
      width: 100%;

      @include breakpoints(mobile) {
        background-image: url('./assets/half-bg-2_mobile.png');
        height: 780px;
        width: 100%;
      }
    }

    &::before {
      background: url('./assets/half-bg-1.png') no-repeat left center / contain;
      content: '';
      display: block;
      height: 1000px;
      min-width: 1920px;
      position: absolute;
      top: -680px;
      width: 100%;

      @include breakpoints(mobile) {
        background-image: url('./assets/half-bg-1_mobile.png');
        height: 552px;
        min-width: auto;
        top: -360px;
        width: 100%;
      }
    }
  }
}

.Intro {
  background-image: linear-gradient(to bottom, #76adff, #5461ea);
  color: $color-white;
  height: 1400px;
  width: 100%;
}

.Wrapper {
  max-width: 1200px;
  width: 100%;
}
