@import '~@styles/colors';

.Root {
  display: flex;
  flex-direction: column;
}

.Change {
  color: $color-green-300;
  // font-weight: 500;

  & > i {
    margin: 0 0 0 4px;
  }
}

.Chart {
  border-radius: 8px;
  flex: 1 1 auto;
  margin: 20px 0 0;
  max-height: calc(100% - 72px);
}

.Value {
  display: flex;
  justify-content: space-between;
  margin: 4px 0 0;
  width: 100%;
}
