@import '~@styles/colors';

.Root {
  background: rgba($color-yellow-500, .2);
  border-radius: 8px;
  margin: 8px -16px;
  padding: 0 16px;
}

.Author {
  align-items: center;
  display: flex;
}

.Avatar {
  height: 32px;
  width: 32px;
}

.Date {
  color: $color-gray-600;
  line-height: 13px;
}

.Header {
  align-items: center;
  border-bottom: 2px solid $color-yellow-500;
  display: flex;
  height: 56px;
  justify-content: space-between;
  position: relative;
}

.Name {
  font-weight: 600;
  margin: 0 8px;
}

.Text {
  color: $color-gray-900;
  padding: 16px 60px;
  text-align: center;
}

.Title {
  font-size: 12px;
  font-weight: 700;
}
