@import '~@styles/colors.scss';

.Group {
  margin: 32px 0 0;
}

.Icon {
  display: flex !important;
  flex: 0 0 20px;
  font-size: 20px;
  justify-content: center;
  margin: 0 12px 0 0;
  max-width: 20px;
}

.Link {
  align-items: center;
  border-radius: 20px;
  color: $color-text-secondary;
  display: flex;
  font-weight: 600;
  letter-spacing: -.2px;
  padding: 0 20px;
  text-decoration: none;
  transition: all .2s;

  &:hover {
    color: $color-blue;
  }

  &Is {
    &Selected {
      background: rgba($color-blue, .1);
      color: $color-blue;
    }
  }
}

.List {
  display: flex;
  flex-direction: column;

  & > * {
    flex: 0 0 40px;

    &:not(:first-child) {
      margin: 8px 0 0;
    }
  }
}

.Title {
  color: $color-text;
  font-weight: 600;
  letter-spacing: -.2px;
  margin: 0 0 20px;
}
