.Root {
  display: flex;
}

.Company {
  align-items: center;
  display: flex;
  flex: 0 0 90px;

  &Logo {
    background: #f00;
    border-radius: 100%;
    height: 40px;
    width: 40px;
  }
}

.Content {
  flex: 1 1 auto;
  max-width: calc(100% - 260px);
}

.Sidebar {
  display: flex;
  flex: 0 0 260px;
  flex-direction: column;
  padding: 0 40px;
  width: 260px;
}
