.Root {
  align-items: flex-start;
  display: flex;
  width: 100%;
}

.Company {
  align-items: center;
  display: flex;
  flex: 0 0 90px;
}

.Content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  max-width: calc(100% - 260px);
  padding: 0 32px 32px 0;
}

.Menu {
  margin: 0 0 60px;
}

.Sidebar {
  display: flex;
  flex: 0 0 260px;
  flex-direction: column;
  padding: 0 40px;
  position: sticky;
  top: 0;
  width: 260px;
}

.Subscriber {
  display: flex;
  flex: 0 0 330px;
  flex-direction: column;
  height: 100%;
  max-width: 330px;
  z-index: 2;
}
