@import '~@styles/breakpoints';
@import '~@styles/colors';

.Root {
  align-items: center;
  display: flex;
  height: 540px;
  width: 100%;

  @include breakpoints(mobile) {
    flex-direction: column;
  }

  &Color {
    &Default {
      .Title {
        color: $color-blue-300;
      }
    }

    &White {
      .Description {
        color: rgba($color-gray-0, .8);
      }

      .Title {
        color: $color-gray-0;
      }
    }
  }

  @include breakpoints(desktop) {
    &Mode {
      &Reverse {
        flex-direction: row-reverse;

        .Cover {
          margin: 0 0 0 80px;
        }
      }
    }
  }
}

.Actions {
  margin: 40px 0 0;
}

.Cover {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  margin: 0 80px 0 0;
  position: relative;

  @include breakpoints(mobile) {
    margin: 0 -32px 60px;
  }
}

.Content {
  flex: 0 0 440px;
  white-space: pre-wrap;
  width: 440px;

  @include breakpoints(mobile) {
    flex: 0 0 auto;
    width: 100%;
  }
}

.Description {
  color: $color-brown;
  margin: 20px 0 0;
}

.Image {
  max-width: 100%;
  object-fit: contain;
}
