@import '~@styles/colors.scss';

.Root {
  align-items: center;
  border-bottom: 2px solid $color-gray-100;
  display: flex;
  flex: 0 0 80px;
  height: 80px;
  justify-content: space-between;
  padding: 0 28px;
}

.Action {
  border: none;
}

.Actions {
  align-items: center;
  display: flex;

  & > *:not(:first-child) {
    margin: 0 0 0 12px;
  }
}

.Info {
  align-items: center;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.Name {
  font-weight: 600;
  margin: 0 0 0 20px;
}

.Subscriber {
  min-width: 160px;
  position: relative;
}
