@import '~@styles/colors';

.Container {
  background: $background-lighten;
  border: 2px solid $background-light;
  border-radius: 16px;
  padding: 0 20px;

  & > * {
    padding: 20px 0;

    &:not(:first-child) {
      border-top: 2px solid $background-light;
    }
  }
}
