.Container {
  display: flex;
  flex-direction: row;
}

.General {
  align-items: center;
  display: flex;
  padding: 76px 0 0 0;
}

.Forms {
  align-items: center;
  display: flex;
  padding: 76px 0 0 0;
}
