@import '~@styles/colors';

.Actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 136px;
  position: absolute;
  right: 0;
  top: calc(50% - 68px);
  z-index: 4;

  & > *:not(:first-child) {
    flex: 0 0 32px;
    margin: 8px 0 0;
  }
}

.Add {
  border-radius: 100%;
  flex: 0 0 48px;
  height: 48px;
  margin: 0 0 8px;
  width: 48px;

  &Icon {
    font-size: 18px;
  }
}

.Builder {
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}

.Container {
  background: transparent;
}
