@import '~@styles/colors';

@mixin color($color) {
  &:focus,
  &:hover,
  &.RootIsSelected {
    background: rgba($color, .12);
  }
}

.Root {
  align-items: center;
  border-radius: 26px;
  display: flex;
  height: 32px;
  justify-content: space-between;
  margin: 4px 0 0;
  padding: 4px 12px;

  &:hover {
    cursor: pointer;
  }

  @include coloring();
}

.Arrow {
  margin: 0 8px;
}

.Icon {
  flex: 0 0 24px;
  font-size: 12px;
  height: 24px;
  margin: 0 0 0 -8px;
  width: 24px;
}

.Title {
  color: $color-text;
  flex: 1 1 auto;
  margin: 0 0 0 8px;
}
