@import '~@styles/colors';

.Root {
  background: $background-lighten;
  border: 2px solid $background-light;
  border-radius: 15px;
  padding: 12px;

  &Is {
    &Editable {
      .Editor {
        cursor: text;
      }
    }
  }
}

.Action {
  height: 20px !important;
  width: 20px !important;
}

.Buttons {
  margin: 16px 0 0;
}

.Editor {
  position: relative;
  z-index: 2;
}
