@import '~@styles/colors';

.Root {
  background: $background-lighten;
  border: 2px solid $background-light;
  border-radius: 15px;
  padding: 12px;
  position: relative;

  &Is {
    &Editable {
      .Editor {
        cursor: text;
      }
    }
  }
}

.Actions {
  background: $color-dark;
  border-radius: 8px;
  display: flex;
  height: 28px;
  justify-content: flex-end;
  margin: 8px 0 0;
  right: 12px;
  z-index: 2;

  & > * {
    background: transparent !important;
    border-radius: 8px;
    color: shade($color-white, 700) !important;
    height: 28px;
    min-width: 28px;
    width: 28px;

    &:hover {
      color: $color-white !important;
    }
  }
}

.Buttons {
  margin: 16px 0 0;
}

.Editor {
  line-height: 24px;
  position: relative;
  z-index: 2;
}
