@import '~@styles/colors';

.Root {
  display: flex;
  justify-content: flex-end;
}

.Actions {
  display: flex;

  & > *:not(:first-child) {
    margin: 0 0 0 12px;
  }
}

.Button {
  background: transparent;
  border: 0;
  border-radius: 16px;
  color: $color-text-secondary;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  height: 32px;
  width: 80px;

  &:hover,
  &IsSelected {
    background: lighten($color-blue, 28);
    color: $color-blue;
    cursor: pointer;
  }
}

.Range {
  align-items: center;
  background: $background-lighten;
  border-radius: 16px;
  color: $color-text;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 32px;
  min-width: 160px;
  padding: 4px 12px;
}
