@import '~@styles/colors.scss';

@mixin color($color) {
  background-color: rgba($color, .2);

  .Description {
    color: rgba($color, .6);
  }

  .Title {
    color: $color;
  }
}

.Root {
  border-radius: 20px;
  display: flex;
  padding: 20px;

  @include coloring;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 16px;
  width: calc(100% - 60px);
}

.Description {
  color: $color-gray-600;
}

.Title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
