@import '~@styles/colors';

.Root {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.Backdrop {
  background: rgba($color-gray-100, .9);
  filter: blur(4px);
}

.Container {
  background: transparent;
  box-shadow: none;
}

.Content {
  column-gap: 64px;
  display: grid;
  grid-template-columns: repeat(3, 296px);
}
