@import '~@styles/colors';

.Root {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.Control {
  align-items: center;
  display: flex;
}

.DeleteButton {
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
}

.Handle {
  right: 12px !important;
}

.Input {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: $color-gray-300;
  border-radius: 2px;
  height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background: $color-gray-0;
  border: 3px solid $color-secondary;
  border-radius: 100%;
  height: 10px;
  position: relative;
  transition: .2s;
  width: 10px;
  z-index: 2;

  &:hover {
    box-shadow: 0 0 0 4px rgba($color-secondary, .2);
    cursor: pointer;
  }
}

.Name {
  color: $color-gray-700;
}

.Progress {
  background-color: $color-secondary;
  border-radius: 2px;
  height: 4px;
  left: 2px;
  pointer-events: none;
  position: absolute;
  top: 10px;
}

.RangeProgress {
  margin: 0 8px;
  position: relative;
  width: 100%;
}

.Title {
  color: $color-gray-500;
}
