@import '~@styles/colors';

.Root {
  align-items: flex-end;
  display: flex;
  margin: 48px 0 20px;
  width: 100%;

  &Is {
    &Bot {
      .Author {
        color: $color-green !important;
      }
    }

    &Outcoming {
      display: flex;
      flex-direction: row-reverse;

      .Author {
        color: $color-blue;
      }

      .Container {
        align-items: flex-end;
      }

      .List {
        align-items: flex-end;

        & > * {
          &:first-child {
            border-radius: 16px 16px 4px 16px;
          }

          &:not(:first-child):not(:last-child) {
            border-radius: 16px 4px 4px 16px;
          }

          &:last-child {
            border-radius: 16px 4px 16px 16px;
          }
        }
      }
    }
  }
}

.Author {
  margin: 8px 12px;
  position: absolute;
  top: -32px;
}

.Avatar {
  bottom: 12px;
  flex: 0 0 32px;
  height: 32px;
  position: sticky;
}

.Container {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  position: relative;
  width: calc(100% - 48px);
}

.List {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 80%;

  & > * {
    &:first-child {
      border-radius: 16px 16px 16px 4px;
    }

    &:first-child:last-child {
      border-radius: 16px;
    }

    &:last-child {
      border-radius: 4px 16px 16px 16px;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 4px 16px 16px 4px;
    }

    &:not(:first-child) {
      margin: 2px 0 0;
    }
  }
}
