@import '~@styles/colors.scss';

.Avatar {
  border: solid 4px rgba($color-gray-100, .05);
  border-radius: 100%;
  box-shadow: 0 33px 33px 0 rgba(0, 0, 0, .1);
  height: 100px;
  width: 100px;
}

.AvatarBlock {
  align-items: center;
  display: flex;
  margin: 0 0 40px;
}

.Button {
  margin: 0 0 0 20px;
}

.CompanyName {
  color: $color-blue-300;
}

.CompanyNameBlock {
  margin-top: 12px;
}

.CompanyNameBlock,
.Description,
.Title {
  margin-left: 20px;
}

.Description {
  margin-top: 8px;
}

.GeneralForm {
  width: 260px;
}

.Title,
.Description {
  color: $color-gray-600;
}

.Form {
  margin: 0 0 40px 0;
}

.FormInput {
  display: flex;
  margin: 32px 0 0 0;
}
