@import '~@styles/breakpoints';

.Root {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.Container {
  max-width: 1200px;
  width: 100%;

  @include breakpoints(mobile) {
    max-width: 100%;
    padding: 40px;
  }
}
