@import '~@styles/colors.scss';

@mixin colorFilledButton($color) {
  background: rgba($color, 0.1);
  color: $color;

  &:active {
    background: rgba($color, 0.1);
    color: rgba($color, 0.6);
  }

  &:hover:not(:active) {
    background: rgba($color, 0.2);
  }
}

@mixin colorOutlinedButton($color) {
  border-color: rgba($color, 0.2);
  color: $color;

  &:active {
    background: rgba($color, 0.05);
    color: rgba($color, 0.6);
  }

  &:hover:not(:active) {
    background: rgba($color, 0.2);
  }
}

.Root {
  align-items: center;
  border-radius: 20px;
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  letter-spacing: -0.2px;
  min-width: 120px;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;

  &:hover {
    cursor: pointer;
  }

  &Mode {
    &Icon {
      min-width: 40px;
      width: 40px;
    }
  }

  &Variant {
    &Filled {
      border: none;

      &.RootColor {
        &Danger {
          @include colorFilledButton($color-danger);
        }

        &Default {
          background: rgba($color-text, 0.1);
          color: $color-text-secondary;

          &:active {
            background: rgba($color-text, 0.1);
            color: rgba($color-text-secondary, 0.6);
          }

          &:hover:not(:active) {
            background: rgba($color-text, 0.2);
          }
        }

        &Primary {
          @include colorFilledButton($color-primary);
        }

        &Secondary {
          @include colorFilledButton($color-secondary);
        }

        &Success {
          @include colorFilledButton($color-success);
        }

        &Warning {
          @include colorFilledButton($color-warning);
        }
      }
    }

    &Outlined {
      background: transparent;
      border: 2px solid;

      &:active,
      &:hover:not(:active) {
        border: 0;
      }

      &.RootColor {
        &Default {
          border-color: rgba($color-text, 0.1);
          color: $color-text-secondary;

          &:active {
            background: rgba($color-text, 0.05);
            color: rgba($color-text-secondary, 0.4);
          }

          &:hover:not(:active) {
            background: rgba($color-text, 0.1);
          }
        }

        &Danger {
          @include colorOutlinedButton($color-danger);
        }

        &Primary {
          @include colorOutlinedButton($color-primary);
        }

        &Secondary {
          @include colorOutlinedButton($color-secondary);
        }

        &Success {
          @include colorOutlinedButton($color-success);
        }

        &Warning {
          @include colorOutlinedButton($color-warning);
        }
      }
    }
  }
}

.Icon {
  font-size: 14px;
}

.Spinner {
  animation: spin 0.8s linear infinite;
  font-size: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
