@import '~@styles/colors.scss';

@mixin colorFilledButton($color) {
  background: rgba($color, .1);
  color: $color;

  &:active {
    background: rgba($color, .1);
    color: rgba($color, .6);
  }

  &:hover:not(:active) {
    background: rgba($color, .2);
  }
}

@mixin colorOutlinedButton($color) {
  border-color: rgba($color, .2);
  color: $color;

  &:active {
    background: rgba($color, .05);
    color: rgba($color, .6);
  }

  &:hover:not(:active) {
    background: rgba($color, .2);
  }
}

.Root {
  align-items: center;
  border-radius: 20px;
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  letter-spacing: -.2px;
  min-width: 120px;
  padding: 0 16px;
  text-decoration: none;
  transition: background .2s, color .2s;

  &:hover {
    cursor: pointer;
  }

  &Is {
    &Disabled {
      opacity: .6;
      pointer-events: none;
    }
  }

  &Mode {
    &FullWidth {
      width: 100%;
    }

    &Icon {
      min-width: 40px;
      padding: 0;
      width: 40px;

      .Icon {
        margin: 0;
      }
    }
  }

  &Variant {
    &Filled {
      border: none;

      &.RootColor {
        &Danger {
          @include colorFilledButton($color-danger);
        }

        &Default {
          background: rgba($color-text, .1);
          color: $color-text-secondary;

          &:active {
            background: rgba($color-text, .1);
            color: rgba($color-text-secondary, .6);
          }

          &:hover:not(:active) {
            background: rgba($color-text, .2);
          }
        }

        &Primary {
          @include colorFilledButton($color-primary);
        }

        &Secondary {
          @include colorFilledButton($color-secondary);
        }

        &Success {
          @include colorFilledButton($color-success);
        }

        &Warning {
          @include colorFilledButton($color-warning);
        }
      }
    }

    &Outlined {
      background: transparent;
      border: 2px solid;

      &:active,
      &:hover:not(:active) {
        border: 0;
      }

      &.RootColor {
        &Default {
          border-color: rgba($color-text, .1);
          color: $color-text-secondary;

          &:active {
            background: rgba($color-text, .05);
            color: rgba($color-text-secondary, .4);
          }

          &:hover:not(:active) {
            background: rgba($color-text, .1);
          }
        }

        &Danger {
          @include colorOutlinedButton($color-danger);
        }

        &Primary {
          @include colorOutlinedButton($color-primary);
        }

        &Secondary {
          @include colorOutlinedButton($color-secondary);
        }

        &Success {
          @include colorOutlinedButton($color-success);
        }

        &Warning {
          @include colorOutlinedButton($color-warning);
        }
      }
    }
  }
}

.Icon {
  font-size: 14px;
  margin: 0 8px 0 0;
}

.Spinner {
  animation: spin .8s linear infinite;
  font-size: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
