@import '~@styles/colors';

.Root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

.Description {
  margin: 0 0 8px 0;
  text-align: center;
}

.Token {
  background: $color-gray-100;
  border: 2px solid $color-gray-300;
  border-radius: 20px;
  margin: 20px 0 40px;
  max-width: 300px;
  padding: 8px;
  word-break: break-all;
}
