@import '~@styles/colors';

.Root {
  background: $color-gray-0;
  border-radius: 0 30px 30px 0;
  flex: 1 1 auto;
  height: 100%;
  padding: 32px 0;
  width: 100%;

  & > *:not(:first-child) {
    margin: 20px 0 0;
  }
}
