@import '~@styles/colors.scss';

.Root {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 40px);
  margin: 0 40px 40px 0;
  width: 100%;
}

.Container {
  flex: 1 1 auto;
  height: 100%;
}

.Header {
  align-items: center;
  display: flex;
  flex: 0 0 88px;
}

.Sidebar {
  display: flex;
  flex: 0 0 380px;
  flex-direction: column;
  max-width: 380px;
  padding: 0 40px;
}
