@import '~@styles/colors';

.Root {
  &Is {
    &Disabled {
      .Container {
        opacity: .6;
        pointer-events: none;
      }
    }

    &Focused {
      .Container {
        background: $color-background;
        border-color: $color-blue;

        &:hover {
          background: $color-background;
          border-color: $color-blue;
        }
      }
    }

    &Invalid {
      .Container {
        background: lighten($color-red, 28);
        border-color: $color-red;

        &:hover {
          background: $color-background;
          border-color: $color-red;
        }
      }
    }
  }
}

.Container {
  background: $color-background;
  border: 2px solid darken($color-background, 10);
  border-radius: 20px;
  height: 40px;
  overflow: hidden;
  transition: all .2s;
  width: 100%;

  &:hover {
    background: lighten($color-blue, 32);
    border-color: lighten($color-blue, 16);
  }
}

.Input {
  background: transparent;
  border: none;
  color: $color-dark;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  padding: 0 20px;
  width: 100%;

  &::placeholder {
    color: $color-text-secondary;
  }
}

.Label {
  display: flex;
  flex-direction: column;
}
