@import '~@styles/colors.scss';

@mixin variant($color) {
  .Countdown {
    background: $color;
  }

  .Icon {
    border-color: rgba($color, .4);
    color: $color;
  }

  .Title {
    color: $color;
  }
}

.Root {
  background: $color-white;
  border-radius: 20px;
  box-shadow: 0 20px 40px 0 rgba($color-dark, .1);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 440px;

  &Variant {
    &Alert {
      @include variant($color-orange);
    }

    &Danger {
      @include variant($color-red);
    }

    &Info {
      @include variant($color-blue);
    }

    &Success {
      @include variant($color-green);
    }
  }
}

.Close {
  margin: 0 0 0 20px;
}

.Countdown {
  animation: countdown 1s;
  bottom: 0;
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.Description {
  color: $color-text-secondary;
  margin: 4px 0 0;
}

.Icon {
  align-items: center;
  border: 2px solid;
  border-radius: 100%;
  display: flex !important;
  flex: 0 0 40px;
  height: 40px;
  justify-content: center;
  margin: 0 20px 0 0;
  width: 40px;
}

.Info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

@keyframes countdown {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
