@import '~@styles/colors.scss';

.Container {
  max-width: 300px;
}

.Description {
  color: $color-text-secondary;
  display: flex;
  font-weight: 500;
  justify-content: center;
  margin: 0 0 40px;
}
