@import '~@styles/breakpoints';
@import '~@styles/colors';

.Root {
  padding: 0 0 60px;

  @include breakpoints(mobile) {
    padding: 0;
  }
}

.Container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include breakpoints(mobile) {
    flex-direction: column;
  }
}

.Copyright {
  color: rgba($color-white, .6);

  @include breakpoints(mobile) {
    margin: 20px 0 0;
  }
}

.Link {
  color: rgba($color-white, .8);

  &:hover {
    color: $color-white;
  }
}

.Links {
  @include breakpoints(mobile) {
    margin: 40px 0 0;
  }

  & > *:not(:first-child) {
    margin: 0 0 0 40px;
  }
}

.Social {
  display: flex;

  & > *:not(:first-child) {
    margin: 0 0 0 20px;
  }
}
