@import '~@styles/colors.scss';

.Root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 340px;
}

.BlockButton {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.Description {
  margin: 8px 0 0 0;
}

.Description,
.Label {
  color: $color-gray-600;
}

.Info {
  margin: 0 0 0 20px;
}

.Label {
  margin: 0 0 12px 0;
}
