@import '~@styles/colors';

@mixin caretFilledColor($color) {
  &.CaretVariantFilled {
    background: $color;
  }
}

@mixin spinnerColor($color) {
  color: $color;
}

.Caret {
  align-items: center;
  border-radius: 100%;
  composes: Caret from '../Select.scss';
  display: flex;
  justify-content: center;
  margin: 0 4px;

  &Color {
    &Blue {
      @include caretFilledColor($color-primary);
    }

    &Green {
      @include caretFilledColor($color-green-500);
    }

    &Orange {
      @include caretFilledColor($color-orange-500);
    }

    &Pink {
      @include caretFilledColor($color-pink-500);
    }

    &Purple {
      @include caretFilledColor($color-purple-500);
    }

    &Red {
      @include caretFilledColor($color-red-500);
    }

    &Sky {
      @include caretFilledColor($color-sky-500);
    }

    &Yellow {
      @include caretFilledColor($color-yellow-500);
    }
  }

  &Variant {
    &Filled {
      height: 22px;
      width: 22px;

      .CaretIcon {
        background: none;
        color: $color-gray-0;
        font-size: 16px;
        text-shadow: none;
      }
    }

    &Outlined {
      border: 2px solid rgba($color-primary, .4);
      height: 30px;
      width: 30px;
    }
  }

  &Icon {
    align-items: center;
    background: rgba($color-primary, .1);
    border-radius: 100%;
    color: $color-primary;
    composes: CaretIcon from '../Select.scss';
    display: flex !important;
    font-size: 18px;
    height: 26px;
    justify-content: center;
    text-shadow: 0 2px 3px rgba($color-primary, .4);
    transition: all .2s;
    width: 26px;
  }
}

.Empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px 0;

  &Description {
    color: $color-gray-600;
    margin: 12px 0 0;
    max-width: 160px;
    text-align: center;
  }

  &Icon {
    align-items: center;
    border: 4px solid rgba($color-primary, .5);
    border-radius: 100%;
    color: $color-primary;
    display: flex !important;
    font-size: 24px;
    height: 60px;
    justify-content: center;
    width: 60px;
  }

  &Title {
    margin: 20px 0 0;
  }
}

.Spinner {
  animation: spin .8s linear infinite;
  color: $color-primary;
  font-size: 20px;
  margin: 0 6px;

  &Color {
    &Blue {
      @include spinnerColor($color-primary);
    }

    &Green {
      @include spinnerColor($color-green-500);
    }

    &Orange {
      @include spinnerColor($color-orange-500);
    }

    &Pink {
      @include spinnerColor($color-pink-500);
    }

    &Purple {
      @include spinnerColor($color-purple-500);
    }

    &Red {
      @include spinnerColor($color-red-500);
    }

    &Sky {
      @include spinnerColor($color-sky-500);
    }

    &Yellow {
      @include spinnerColor($color-yellow-500);
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
