@import '~@styles/colors';

@mixin color($color) {
  &.RootVariantFilled {
    :global .react-select {
      &__control {
        background: rgba($color, .1);
      }
    }
  }
}

.Root {
  width: 100%;

  @include coloring;

  &Is {
    &Disabled {
      pointer-events: none;

      .Caret {
        display: none;
      }
    }

    &Loaded {
      pointer-events: none;

      .Caret {
        display: none;
      }
    }
  }

  &Variant {
    &Filled {
      height: 32px;
      min-width: 112px;

      :global .react-select {
        &__control {
          background: rgba($color-blue, .1);
          border: 0;
          border-radius: 16px;
          min-height: 32px;

          &--is-focused {
            box-shadow: none;
          }
        }
      }
    }

    &Outlined {
      :global .react-select {
        &__control {
          background: $background-lighten;
          border: 2px solid $background-light;
          border-radius: 20px;
          min-height: 40px;
          transition: all .2s;

          &:hover {
            background: lighten($color-blue, 32);
            border-color: lighten($color-blue, 16);

            :local .CaretIcon {
              transform: scale(1);
            }
          }

          &--is-focused {
            background: $background-lighten;
            border-color: $color-blue !important;
            box-shadow: none;
          }
        }
      }
    }
  }

  :global .react-select {
    &__control {
      flex: 1 1 auto;
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }

    &__group {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 12px 0 12px;

      &:first-child {
        padding-top: 0;
      }

      &:not(:first-child) {
        border-top: 2px solid rgba($color-blue, .1);
      }

      & > * {
        width: 100%;
      }

      :local .OptionDescription {
        margin-bottom: 0;
      }
    }

    &__group-heading {
      display: none;
    }

    &__indicator-separator {
      display: none;
    }

    &__input {
      & > input {
        color: $color-text !important;
        font-family: inherit;
        font-weight: inherit;
      }
    }

    &__menu {
      background: $color-white;
      border: 1px solid rgba($color-blue, .2);
      border-radius: 20px;
      box-shadow: 0 20px 40px 0 rgba($color-dark, .1);
      margin: 12px 0 0;
      max-width: 320px;
      min-width: 100%;
      padding: 16px 12px;
      width: auto;
    }

    &__menu-list {
      display: grid;
      grid-row-gap: 4px;
    }

    &__value-container {
      margin: 0 0 0 16px;
      padding: 0;

      &--has-value {
        margin: 0 0 0 1px;
      }
    }
  }
}

.Caret {
  display: flex;
}

.CaretIcon {
  transform: scale(.84);
}

.Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.OptionDescription {
  margin-bottom: 8px;
}
