@import '~@styles/colors.scss';

.Root {
  border-top: 2px solid $color-gray-100;
  min-height: 80px;
  padding: 16px 32px;
  transition: all .2s;
  will-change: background;

  &Is {
    &Comment {
      background: rgba($color-yellow-500, .15);
    }
  }
}

.Comment {
  transform: scale(.8);
  transition: all .2s;

  &:hover {
    background: rgba($color-green-500, .1);
    color: $color-green-500;
    transform: scale(1);

    &:active {
      background: rgba($color-green-500, .1);
      color: rgba($color-green-500, .6);
    }

    &:hover:not(:active) {
      background: rgba($color-green-500, .2);
    }
  }
}

.Container {
  align-items: center;
  display: flex;
  height: 100%;
}

.Emoji {
  align-self: flex-end;
}

.Right {
  align-self: flex-end;
  display: flex;

  & > *:not(:first-child) {
    margin: 0 0 0 12px;
  }
}
