@import '~@styles/colors.scss';

.Root {
  background: $color-gray-0;
  border-radius: 20px;
  box-shadow: 0 20px 40px 0 rgba($color-gray-1000, .1);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 440px;

  &Variant {
    &Info {
      .Icon {
        border-color: rgba($color-primary, .4);
        color: $color-primary;
      }

      .Title {
        color: $color-primary;
      }
    }
  }
}

.Actions {
  margin: 0 0 0 20px;
}

.Description {
  color: $color-gray-600;
  margin: 4px 0 0;
}

.Icon {
  border: 2px solid;
  border-radius: 100%;
  flex: 0 0 40px;
  height: 40px;
  margin: 0 20px 0 0;
  width: 40px;
}

.Info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}
