@import '~@styles/colors';

.Root {
  background: linear-gradient(0deg, #76adff 0%, #5461ea 100%);
  display: flex;
  overflow: hidden;
  width: 100%;
}

.Cover {
  flex: 1 1 auto;
  margin: 0 -40px 0 0;
  position: relative;
  z-index: 1;
}

.Description {
  color: $color-text-secondary;
  margin: 20px 0 40px;
}

.Fieldset {
  grid-row-gap: 0;
}

.Fleetly {
  color: $color-blue;
  text-shadow: 0 8px 4px rgba($color-blue, .1);
}

.Land {
  animation: land .8s;
  background: url('./assets/land.png') no-repeat right center / cover;
  z-index: 2;
}

.Logo {
  background: url('~@assets/logo.svg') no-repeat center center / contain;
  height: 60px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 60px;
  z-index: 4;
}

.Rocket {
  animation: rocket 1s;
  background: url('./assets/rocket.png') no-repeat left center / contain;
  z-index: 1;
}

.Sidebar {
  align-items: center;
  background: $color-white;
  border-radius: 40px 0 0 40px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 700px;
  z-index: 2;

  & > form {
    width: 300px;
  }

  :global .enter {
    opacity: 0;
    transform: translateY(10%);

    &-active {
      opacity: 1;
      transform: translateY(0);
      transition: all .4s .2s;
    }
  }

  :global .exit {
    opacity: 1;
    position: absolute;

    &-active {
      opacity: 0;
      transition: all .2s;
    }
  }
}

.Tree {
  animation: tree 1s;
  background: url('./assets/tree.png') no-repeat right center / contain;
  z-index: 3;
}

.Land,
.Rocket,
.Tree {
  height: 100%;
  min-width: 1100px;
  position: absolute;
  width: 100%;
}

@keyframes land {
  from {
    opacity: 1;
    transform: translateY(8%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rocket {
  from {
    opacity: 1;
    transform: translateY(16%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tree {
  from {
    opacity: 1;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
