@import '~@styles/colors';

.Root {
  background: $color-blue;
  display: flex;
  width: 100%;
}

.Description {
  color: $color-gray-500;
  margin: 20px 0 40px;
}

.Fieldset {
  grid-row-gap: 0;
}

.Fleetly {
  color: $color-primary;
  text-shadow: 0 8px 4px rgba($color-primary, .1);
}

.Sidebar {
  background: $color-white;
  border-radius: 0 40px 40px 0;
  padding: 100px;

  & > form {
    width: 300px;
  }
}

.Title {
  color: $color-gray-800;
}
