@import '~@styles/breakpoints';
@import '~@styles/colors';
@import './Sign.transition.scss';

@mixin coverPosition() {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.Root {
  align-items: center;
  background: $color-gray-0;
  display: flex;
  justify-content: flex-start;
  max-height: 100vh;
  overflow: hidden;
  padding: 100px;
  position: relative;
  width: 100%;

  @include breakpoints(mobile) {
    align-items: flex-start;
    padding: 40px;
  }
}

.Cover {
  z-index: 1;

  @include coverPosition();
}

.Land {
  &1 {
    background-image: url('./assets/land-1.png');
    z-index: 2;

    @include coverPosition();

    @include breakpoints(mobile) {
      top: 60px;
    }
  }

  &2 {
    background-image: url('./assets/land-2.png');
    z-index: 1;

    @include coverPosition();

    @include breakpoints(mobile) {
      top: 60px;
    }
  }
}

.Tree {
  background-image: url('./assets/tree.png');
  z-index: 3;

  @include coverPosition();

  @include breakpoints(mobile) {
    display: none;
  }
}

.Wrapper {
  max-width: 320px;
  position: relative;
  width: 100%;
  z-index: 2;
}
