@import '~@styles/colors';

.Root {
  display: grid;
  grid-template-areas:
    'a  b'
    'c  c';
}

.NextPlan {
  grid-area: b;
  margin: 0 0 0 30px;
  width: 280px;
}

.PaymantHistory {
  grid-area: c;
}
