@import '~@styles/breakpoints';
@import '~@styles/colors';

.Root {
  background: #dee8da;
  border: 2px solid #d6e2d1;
  border-radius: 24px;
  display: flex;
  flex: 0 0 448px;
  height: 44px;
  padding: 4px;

  @include breakpoints(mobile) {
    display: none;
  }
}

.Item {
  align-items: center;
  border-radius: 24px;
  display: flex;
  flex: 0 0 144px;
  transition: all .2s;
  will-change: background, box-shadow;

  &:hover {
    background: $color-gray-0;
    box-shadow: 0 -10px 10px 0 rgba($color-gray-0, .6), 0 10px 10px 0 rgba($color-gray-1000, .2);
    cursor: pointer;
  }

  &Title {
    color: $color-green-500;
    text-align: center;
    width: 100%;
  }
}
