@import '~@styles/colors';

:global html {
  box-sizing: border-box;
}

:global body {
  background-color: $color-gray-100;
  color: $color-gray-900;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

:global * {
  box-shadow: none;
  box-sizing: inherit;
  scroll-behavior: smooth;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;

  &::after,
  &::before {
    box-sizing: inherit;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    scrollbar-color: $color-gray-300 transparent;

    &::-webkit-scrollbar-thumb {
      background: $color-gray-300;
      border: 1px solid $color-gray-0;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;

    &-thumb {
      background: transparent;

      &:hover {
        background: $color-gray-400;
      }
    }
  }
}

:global h1,
:global h2,
:global h3,
:global h4,
:global h5,
:global h6,
:global p {
  margin: 0;
}
