@import '~@styles/colors';

.Root {
  margin: 88px 0 0;
  padding: 120px 40px 40px;
  padding-top: 120px;
  position: relative;
  width: 340px;
}

.Avatar {
  border: 8px solid $color-white;
  box-shadow:
    0 0 8px rgba($color-black, .1),
    0 12px 20px rgba($color-black, .05);
  height: 140px;
  left: calc(50% - 70px);
  position: absolute;
  top: -70px;
  width: 140px;

  &Plug {
    font-size: 48px;
  }
}
