@import '~@styles/colors.scss';

.Root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.Icon {
  color: $color-blue-300;
}

.Text {
  color: $color-gray-600;
  margin: 10px 0 0;
  max-width: 180px;
  min-width: 140px;
  text-align: center;
}

.Title {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0 0;
}
