@import '~@styles/breakpoints';
@import '~@styles/colors';
@import './Sign.transition.scss';

@mixin coverPosition() {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.Root {
  display: flex;
  justify-content: center;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Content {
  height: 540px;
  margin: 0 100px;
  position: relative;
  z-index: 2;

  @include breakpoints(laptop) {
    margin: 0 72px;
  }
}

.Cover {
  z-index: 1;

  @include coverPosition();
}

.Nav {
  align-items: center;
  display: flex;
  margin: 40px 40px 24px;

  &Link {
    color: $color-blue-200;
    text-decoration: none;
    transform: scale(0.7);
    transition: all 0.2s ease-out;

    &:not(:first-child) {
      margin: 0 0 0 16px;
    }

    & > h3 {
      font-weight: 800;
    }

    &Is {
      &Selected {
        color: $color-primary;
        transform: scale(1);
      }
    }
  }
}

.Land {
  &1 {
    background-image: url('./assets/land-1.png');
    z-index: 2;

    @include coverPosition();
  }

  &2 {
    background-image: url('./assets/land-2.png');
    z-index: 1;

    @include coverPosition();
  }
}

.Title {
  color: $color-primary;
  text-shadow: 0 8px 4px rgba($color-primary, 0.1);
}

.Tree {
  background-image: url('./assets/tree.png');
  z-index: 3;

  @include coverPosition();
}

.Welcome {
  color: #515255;
}

.Wrapper {
  align-items: center;
  display: flex;
  max-width: 1680px;
  position: relative;
  width: 100%;
  z-index: 2;

  @include breakpoints(laptop) {
    max-width: 1240px;
  }
}
