@import '~@styles/breakpoints';

.Root {
  &Transition {
    &Enter {
      &:not(&Active) {
        opacity: 0;

        .Content {
          opacity: 0;
          transform: translateY(6%);
        }

        .Land1 {
          transform: translateY(4%);
        }

        .Land2 {
          transform: translateY(-2%);
        }

        .Tree {
          transform: scale(1.15);
        }
      }

      &Active {
        opacity: 1;
        transition: opacity 2s ease-in;

        .Content {
          opacity: 1;
          transform: translateY(0);
          transition: all .8s 1.2s;

          @include breakpoints(mobile) {
            transition: all .8s .6s;
          }
        }

        .Land1 {
          transition: transform 1.6s .4s;
        }

        .Land2 {
          transition: transform 1.6s .4s ease-out;
        }

        .Tree {
          transition: transform 1.6s .4s;
        }

        .Land1,
        .Land2,
        .Tree {
          transform: scale(1) translateY(0);
        }
      }
    }
  }
}
