.Root {
  &Variant {
    &Caption {
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
    }

    &H1 {
      font-size: 60px;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: 76px;
    }

    &H2 {
      font-size: 30px;
      font-weight: 800;
      line-height: 40px;
    }

    &H3 {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -.2px;
      line-height: 24px;
    }

    &H4 {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -.2px;
      line-height: 24px;
    }

    &H5 {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -.2px;
      line-height: 20px;
    }

    &H6 {
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
    }

    &Text {
      letter-spacing: -.2px;

      &.RootSize {
        &ExtraLarge {
          font-size: 18px;
          line-height: 32px;
        }

        &Large {
          font-size: 16px;
          line-height: 28px;
        }

        &Medium {
          font-size: 14px;
          line-height: 24px;
        }

        &Small {
          font-size: 12px;
          line-height: 20px;
        }

        &ExtraSmall {
          font-size: 10px;
          line-height: 16px;
        }
      }
    }
  }

  &Weight {
    &Bold {
      font-weight: 700;
    }

    &Medium {
      font-weight: 600;
    }
  }
}
