@import '~@styles/colors';

.Root {
  background: $color-gray-0;
  border-radius: 30px 0 0 30px;
  box-shadow: -20px 0 40px rgba($color-gray-1000, .1);
  height: 100%;
  padding: 40px;
  position: relative;
  width: 100%;
}

.Actions {
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px 0 0;
  width: 100%;
}

.Avatar {
  border-radius: 100%;
  box-shadow: 0 32px 32px rgba($color-gray-1000, .1);
  height: 80px;
  width: 80px;

  &::before {
    border: 4px solid rgba($color-gray-1000, .05);
    border-radius: 100%;
    content: '';
    height: 100px;
    position: absolute;
    width: 100px;
  }
}

.Close {
  position: absolute;
  right: 40px;
  top: 24px;
}

.Content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 52px 0 0;
  width: 100%;
}

.Id {
  color: $color-gray-500;
  margin: 16px 0 0;
  text-transform: uppercase;
}

.Info {
  display: grid;
  grid-column-gap: 28px;
  grid-template-columns: 1fr 2px 1fr;
  margin: 20px 0 0;

  &Delimiter {
    background: $color-gray-300;
    height: 100%;
    width: 2px;
  }

  & > div {
    display: flex;
    flex-direction: column;

    &:first-child {
      align-items: flex-end;
    }

    &:last-child {
      align-items: flex-start;
    }
  }
}

.Label {
  color: $color-gray-600;
  margin: 0 0 4px;
}

.Name {
  margin: 28px 0 0;
  text-align: center;
  width: 100%;
}

.Status {
  & > div:first-child {
    display: none;
  }
}

.Timezone {
  color: $color-blue-200;
  margin: 4px 0 0;
}
