@import '~@styles/colors';

.Actions {
  margin: 16px 0 0;
}

.Description {
  color: $color-text-secondary;
  margin: 16px 0 0;
}

.Handle {
  right: 12px !important;
}

.List {
  background: $background-lighten;
  border: 2px solid $background-light;
  border-radius: 16px;
  margin: 28px 0 0;
  padding: 0 20px;

  & > *:not(:first-child) {
    border-top: 2px solid $background-light;
  }
}
