@import '~@styles/colors';

.Root {
  align-items: center;
  background-color: $color-white;
  border: 2px solid $background-light;
  border-radius: 8px;
  color: $color-text;
  display: flex;
  height: 40px;
  justify-content: left;
  padding: 11px 20px;

  &Is {
    &Action {
      border-color: 300;

      & > * {
        align-items: center;
        width: 64px;
      }

      & > *:not(:first-child) {
        border-left: 2px solid $color-text-secondary;
      }
    }
  }

  & > *:not(:first-child) {
    align-items: center;
    display: flex;
    height: 16px;
    padding: 0 0 0 6px;
  }
}
