@import '~@styles/colors';

.Root {
  background-color: $background-lighten;
  border: 2px solid $background-light;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;

  & > *:not(:first-child) {
    margin: 8px 0 0;
  }
}

.Action {
  border-top: 2px solid $background-light;
  margin: 12px 0 0 !important;
  padding: 12px 0;
}
