@import '~@styles/colors';

.Actions {
  margin: 16px 0 0;
}

.Description {
  color: $color-gray-600;
  margin: 16px 0 0;
}

.Triggers {
  margin: 20px 0 0;

  & > *:not(:first-child) {
    margin: 8px 0 0;
  }
}
