@import '~@styles/colors';

.Root {
  background-color: $color-gray-100;
  border: 2px solid $color-gray-300;
  border-radius: 16px;
  padding: 10px;
  width: 100%;
}

.Actions {
  border-top: 2px solid $color-gray-300;
  margin: 12px 0 0;
  padding: 12px 0 0;
}

.List {
  & > *:not(:first-child) {
    margin: 8px 0 0;
  }
}
