@import '~@styles/colors.scss';

@mixin color($color) {
  background: $color;

  &.ItemIsSelected {
    box-shadow: 0 0 0 3px rgba($color, .2);
    opacity: 1;
  }
}

.Root {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: repeat(9, 24px);
}

.Item {
  border: 2px solid $color-white;
  border-radius: 100%;
  flex: 0 0 20px;
  height: 24px;
  opacity: .7;
  transition: all .2s;
  width: 24px;

  @include coloring;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.Select {
  display: none;
}
