@import '~@styles/colors';

.Root {
  align-items: flex-end;
  border-top: 1px solid $color-gray-300;
  display: flex;
  margin: 12px 0;
  padding: 0 30px;
  width: 100%;
}

.Test {
  margin: 0 30px 0 0;
  padding: 0 0 9px 0;
  width: 100%;
}

.Info {
  align-items: center;
  display: flex;
  padding: 34px 0 0;
}

.Counter {
  color: $color-gray-600;
  flex: 1 1 auto;
  margin: 0 0 0 20px;
}

.Progress {
  align-items: center;
  display: flex;
  height: 4px;
  margin: 10px 30px 0 0;
  position: relative;
  width: 100%;
}

.ProgressBar {
  background-color: #6781f4;
  border-radius: 2px;
  box-shadow: 0 12px 12px 0 rgba(103, 129, 244, .2);
  height: 4px;
  position: absolute;
}

.ProgressCover {
  background-color: #f5f5f3;
  border-radius: 1px;
  height: 2px;
  width: 100%;
}
