@import '~@styles/colors';

.Root {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.Actions {
  margin: 8px 0 0;
}

.Container {
  align-items: center;
  display: flex;
}

.Control {
  height: 4px;
  margin: 0 8px;
  position: relative;
  width: 100%;

  &:hover {
    .Input::-webkit-slider-thumb {
      transform: scale(1.2);
    }
  }
}

.Delete {
  border: 0;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
}

.Handle {
  right: 12px !important;
}

.Input {
  appearance: none;
  background-color: $color-gray-300;
  border-radius: 2px;
  height: 4px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &::-webkit-slider-thumb {
    appearance: none;
    background: $color-gray-0;
    border: 3px solid $color-secondary;
    border-radius: 100%;
    height: 10px;
    position: relative;
    transition: .2s;
    width: 10px;
    z-index: 2;

    &:hover {
      box-shadow: 0 0 0 4px rgba($color-secondary, .2);
      cursor: pointer;
    }
  }
}

.Name {
  color: $color-gray-700;
  margin: 0 4px 0 0;
}

.Title {
  color: $color-gray-500;
}

.Value {
  background-color: $color-secondary;
  border-radius: 2px;
  height: 4px;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 1;
}
