@import '~@styles/colors.scss';

.Root {
  align-items: flex-end;
  display: flex;
  margin: 10px 0 0;

  &Variant {
    &Comment {
      .Author {
        align-items: center;
        border-bottom: 2px solid $color-green-500;
        display: flex;
        justify-content: flex-end;
        padding: 0 0 10px 0;
      }

      .Avatar {
        margin: 0 0 0 20px;
      }

      .Title {
        margin: auto;
      }
    }

    &Outcoming {
      flex-direction: row-reverse;

      .Messages {
        text-align: right;

        &Block {
          align-items: flex-end;
        }
      }
    }
  }
}

.Author {
  font-size: 12px;
  font-weight: 600;
  margin: 0 10px;
}

.Messages {
  margin: 0 10px;
  width: 100%;

  &Block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}
