.Root {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin: 10px 0 0;

  &Variant {
    &Outcoming {
      flex-direction: row-reverse;

      .Author {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.Author {
  font-size: 12px;
  font-weight: 600;
  margin: 0 10px;
}

.MessageBlock {
  margin: 0 10px;
}
