@import '~@styles/colors.scss';

.Root {
  align-items: flex-end;
  display: flex;
  margin: 10px 0 0;

  &Variant {
    &Outcoming {
      flex-direction: row-reverse;

      .Messages {
        text-align: right;

        &Block {
          align-items: flex-end;
        }
      }
    }
  }
}

.Author {
  font-size: 12px;
  font-weight: 600;
  margin: 0 10px;
}

.Avatar {
  flex: 0 0 40px;
}

.Messages {
  margin: 0 10px;
  width: 100%;

  &Block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}
