@import '~@styles/colors.scss';

.Root {
  align-items: center;
  border-bottom: solid 1px $color-gray-100;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 24px 0;
}

.Action {
  border: none;
}

.Actions {
  align-items: center;
  display: flex;
}

.Confirm {
  margin: 0 0 0 24px;
}

.Info {
  margin: 0 0 0 20px;
}

.Online {
  color: $color-gray-600;
  font-size: 12px;
}

.Subscriber {
  align-items: center;
  display: flex;
}
