@import '~@styles/colors.scss';

.Root {
  background-color: $color-gray-100;
  border-radius: 15px;
  display: flex;
  margin: 10px 0 0;
  padding: 8px 12px;

  &Variant {
    &Comment {
      background: none;
      display: flex;
      justify-content: center;
      width: 100%;

      .Text {
        max-width: 80%;
        text-align: center;
      }
    }

    &Incoming,
    &Outcoming {
      max-width: 70%;
    }

    &Outcoming {
      background-color: $color-blue-50;
    }
  }
}

.Date {
  align-items: flex-end;
  color: $color-gray-600;
  display: flex;
  font-size: 12px;
  margin: 0 0 0 10px;
}

.Status {
  margin: 0 0 0 4px;

  &Is {
    &Read {
      color: $color-blue-500;
    }
  }
}
