@import '~@styles/colors.scss';

.Root {
  border-bottom: 2px solid $color-gray-100;
  flex: 0 0 80px;
  flex-direction: column;
  height: 80px;
  overflow: hidden;
  padding: 0 28px;

  &Is {
    &Opened {
      .Header {
        transform: translateY(-100%);
      }

      .Search {
        transform: translateY(-100%);
      }
    }
  }
}

.Action {
  border: none;
}

.Actions {
  align-items: center;
  display: flex;

  & > *:not(:first-child) {
    margin: 0 0 0 12px;
  }
}

.Header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  transition: all .2s;
}

.Info {
  align-items: center;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.Name {
  font-weight: 600;
  margin: 0 0 0 20px;
}

.Search {
  transition: all .2s;
}

.Subscriber {
  min-width: 160px;
  position: relative;
}
