@import '~@styles/colors.scss';

.Root {
  align-items: center;
  border-radius: 20px;
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  letter-spacing: -.2px;
  min-width: 120px;
  padding: 0 16px;
  text-decoration: none;
  transition: background .2s, color .2s, opacity .2s;

  &:hover {
    cursor: pointer;
  }

  &Is {
    &Disabled {
      pointer-events: none;
    }
  }

  &Mode {
    &FullWidth {
      width: 100%;
    }

    &Icon {
      min-width: 40px;
      padding: 0;
      width: 40px;

      .Icon {
        margin: 0;
      }
    }
  }
}

.Icon {
  font-size: 14px;
  margin: 0 8px 0 0;
}

.Spinner {
  animation: spin .8s linear infinite;
  font-size: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@mixin color($color) {
  background: $color;
  color: $color-white;

  &:active {
    background: darken($color, 10);
  }

  &:hover:not(:active) {
    background: lighten($color, 10);
  }
}

.RootVariantFilled {
  border: none;

  &.Root {
    &Is {
      &Disabled {
        opacity: .3;
      }
    }

    @include coloring();
  }
}

@mixin color($color) {
  border-color: lighten($color, 16);
  color: $color;

  &:active {
    background: lighten($color, 20);
    border-color: transparent;
  }

  &:hover:not(:active) {
    background: lighten($color, 28);
    border-color: transparent;
  }
}

.RootVariantOutlined {
  background: transparent;
  border: 2px solid;

  &.Root {
    @include coloring();

    &Is {
      &Disabled {
        opacity: .6;
      }
    }
  }
}
