@import '~@styles/breakpoints';
@import '~@styles/colors';

.Root {
  background:
    $color-white url('./assets/bg-desktop.png') no-repeat center
    center / contain;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @include breakpoints(laptop) {
    background-image: url('./assets/bg-laptop.png');
  }

  @include breakpoints(mobile) {
    background-image: url('./assets/bg-mobile.png');
  }

  @include breakpoints(tablet) {
    background-image: url('./assets/bg-tablet.png');
  }
}

.Actions {
  margin: 40px 0 0;
}

.Content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 220px 300px;

  @include breakpoints(laptop) {
    margin: 0 164px 220px;
  }

  @include breakpoints(mobile) {
    margin: 0 60px 40px;
  }

  @include breakpoints(tablet) {
    margin: 0 104px 80px;
  }
}

.Brand {
  color: $color-text-secondary;
  margin: -6px 0 0 16px;
  text-decoration: none;
}

.Description {
  color: $color-text-secondary;
  margin: 8px 0 0;
}

.Header {
  margin: 80px 120px 0;

  @include breakpoints(laptop) {
    margin: 60px 88px 0;
  }

  @include breakpoints(mobile) {
    margin: 36px 36px 0;
  }

  @include breakpoints(tablet) {
    margin: 40px 48px 0;
  }
}

.Link {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.Logo {
  background: url('~@assets/logo.svg') no-repeat center center / contain;
  height: 64px;
  width: 64px;
}

.Oops {
  color: $color-text;
  margin: 0 0 -8px;
}

.Title {
  color: $color-blue;
  text-shadow: 0 10px 4px rgba($color-blue, .1);
}
