@import '~@styles/colors';

@mixin color($color) {
  background: $color;

  .Background {
    background: linear-gradient(to bottom, lighten($color, 22), $color);
    border-radius: 52px;
    box-shadow:
      inset 0 0 0 8px rgba($color, .6),
      inset 0 -18px 16px 0 lighten($color, 22),
      inset 0 18px 16px 0 $color;
  }
}

.Root {
  border: 8px solid rgba($color-white, .4);
  border-radius: 60px;
  height: 520px;
  position: relative;
  width: 400px;

  &Color {
    &Enterprice {
      @include color($color-purple);
    }

    &Lite {
      @include color($color-green);
    }

    &Pro {
      @include color($color-blue);
    }
  }
}

.Button {
  flex: 0 0 140px;
  height: 64px;

  & > div {
    height: 100%;
    padding: 6px;
    width: 100%;

    & button {
      min-width: 100%;
    }
  }
}

.Buy {
  border-radius: 40px;
  display: flex;
  height: 68px;
  margin: 20px 0;
  width: 100%;

  &Variant {
    &Paid {
      border: 2px solid rgba($color-white, .2);
      box-shadow:
        inset 0 8px 8px 0 rgba($color-black, .06),
        inset 0 -8px 8px 0 rgba($color-white, .1);
    }
  }
}

.Background,
.Content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.Content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.Cover {
  flex: 1 1 auto;
}

.Description {
  color: rgba($color-white, .8);
  margin: 12px 0 0;
}

.Limit {
  color: rgba($color-white, .6);
}

.Price {
  align-items: center;
  color: $color-white;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.Type {
  color: $color-white;
  font-size: 26px;
  line-height: 32px;
}
