@import '~@styles/colors';

.Root {
  display: flex;
  width: 100%;

  &Is {
    &Empty {
      .Sidebar {
        transform: translateX(-100%);
      }
    }
  }
}

.Container {
  display: flex;
  flex: 1 1 auto;
  max-width: calc(100% - 88px);
}

.Link {
  border-radius: 100%;
  display: block;
  text-decoration: none;
  transition: all .2s;

  &Is {
    &Selected {
      box-shadow: 0 0 0 3px $color-white, 0 0 0 7px rgba($color-blue, .35);
    }
  }
}

.List {
  background: $color-white;
  border-radius: 0 30px 30px 0;
  padding: 24px;

  & > *:not(:first-child) {
    margin: 20px 0 0;
  }
}

.Logo {
  background: url('~@assets/logo.svg') no-repeat center center / 72% 72%;
}

.Sidebar {
  display: grid;
  flex: 0 0 88px;
  grid-template-rows: 88px 1fr 88px;
  transition: .4s;
}
