@import '~@styles/colors';

.Root {
  background-color: $background-lighten;
  border: 2px solid $background-light;
  border-radius: 16px;
  padding: 10px;
  width: 100%;

  &Is {
    &Focused {
      border-color: $color-blue;

      .Actions {
        border-top-color: $background-light;
        height: 54px;
        margin: 12px 0 0;
        padding: 12px 0 0;
      }
    }
  }
}

.Actions {
  border-top: 2px solid transparent;
  height: 0;
  overflow: hidden;
  transition: all .2s;
  will-change: border-top-color, height, margin, padding;
}

.Buttons {
  margin: 12px 0 0;

  & > *:not(:first-child) {
    margin: 8px 0 0;
  }
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
