@import '~@styles/colors.scss';

.Root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.Container {
  margin: 12px 0 0;
  width: 100%;
}

.Title {
  background: $color-white;
  border-radius: 16px;
  color: $color-text-secondary;
  padding: 6px 12px;
  position: sticky;
  top: 12px;
  z-index: 2;
}
