@import '~@styles/colors';

@mixin color($color) {
  color: $color;

  &:focus {
    border-color: $color;
    box-shadow: 0 0 0 1px $color;
  }
}

.Root {
  background: $color-white;
  border: 1.5px solid $background-light;
  border-radius: 8px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  height: 40px;
  position: relative;
  transition: all .2s;
  width: 100%;

  &:hover:not(:active) {
    background: $background-lighten;
    cursor: pointer;
  }

  @include coloring();
}
