@import '~@styles/colors';

@mixin color($color) {
  &.RootVariantFilled {
    background: mix(white, $color, 72%);
    color: $color;
    text-shadow: 0 4px 4px lighten($color, 16);
  }

  &.RootVariantOutlined {
    border-color: lighten($color, 32);
    color: $color;
  }
}

.Root {
  align-items: center;
  border-radius: 100%;
  display: flex !important;
  flex: 0 0 40px;
  height: 40px;
  justify-content: center;
  width: 40px;

  &Variant {
    &Filled {
      font-size: 16px;
    }

    &Outlined {
      background: transparent;
      border: 2px solid;
      font-size: 14px;
    }
  }

  @include coloring();
}
