@import '~@styles/colors.scss';

.Actions {
  margin: 40px 0 0;
  width: 100%;
}

.Container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Fieldset {
  display: grid;
  grid-row-gap: 20px;
  width: 100%;
}
