@import '~@styles/colors';

.Root {
  background: $color-gray-0;
  border: 1px solid $color-gray-300;
  border-radius: 8px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -.2px;
  line-height: 20px;
  overflow: hidden;
  padding: 3px 7px;
  resize: none;
  transition: border-color .2s, box-shadow .2s;

  &:focus {
    border-color: $color-primary;
    box-shadow: 0 0 0 1px $color-primary;
  }
}

.Text {
  padding: 4px 8px;
}
