@import '~@styles/colors';

.Root {
  display: flex;
  padding: 0 32px 32px 0;
  width: 100%;
}

.Companies {
  flex: 1 1 auto;
}

.Container {
  display: flex;
  flex: 1 1 auto;
  max-width: calc(100% - 90px);
}

.Logo {
  background: url('~@assets/logo.svg') no-repeat center center / contain;
  display: block;
  height: 57px;
  width: 47px;
}

.Sidebar {
  display: flex;
  flex: 0 0 90px;
  flex-direction: column;
  width: 90px;

  &Item {
    align-items: center;
    display: flex;
    flex: 0 0 90px;
    height: 90px;
    justify-content: center;
  }
}
