@import '~@styles/colors';

.Root {
  display: flex;
  // height: 100vh;
  width: 100%;

  &With {
    &Sidebar {
      .Container {
        max-width: calc(100% - 90px);
      }
    }
  }
}

.Companies {
  flex: 1 1 auto;
}

.Container {
  display: flex;
  flex: 1 1 auto;
}

.Logo {
  background: url('~@assets/logo.svg') no-repeat center center / contain;
  display: block;
  height: 57px;
  width: 47px;
}

.Sidebar {
  display: flex;
  flex: 0 0 90px;
  flex-direction: column;
  width: 90px;

  &Item {
    align-items: center;
    display: flex;
    flex: 0 0 90px;
    height: 90px;
    justify-content: center;
  }
}

.User {
  background: url('https://vnnews.ru/images/wsscontent/articles/2018/12/bluzhdavshij-po-staroj-russe-bomzh-andryushin-vernjotsya-tuda-gde-teplo-i-kormyat.jpg');
  background-size: cover;
  border-radius: 100%;
  height: 40px;
  transition: all .2s;
  width: 40px;

  &:hover {
    transform: scale(4);
  }
}
