@import '~@styles/colors';

@mixin color($color) {
  &:hover,
  &.RootIsSelected {
    box-shadow: 0 0 0 2px rgba($color, 1);
  }
}

.Root {
  background: rgba($color-gray-0, .9);
  transition: box-shadow .2s;
  width: 300px;

  @include coloring();
}

.Next {
  color: $color-gray-600;
  margin: 20px 0 0;
  position: relative;
  text-align: right;
}

.Source {
  right: -30px !important;
}

.Target {
  left: -10px !important;
  top: 40px !important;
}
