@import '~@styles/colors.scss';

.Root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Loader {
  height: 80px;
  position: relative;
}

.Tbody {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-height: calc(100% - 52px);
  overflow: auto;
  padding: 16px 20px;

  .Tr {
    min-height: 60px;
    padding: 0 8px;
    transition: all .2s;

    &:not(:first-child) {
      margin: 12px 0 0;
    }

    &:hover {
      background: shade($color-blue, 50);
      border-radius: 8px;
      cursor: pointer;

      .Td {
        & button:not(:hover) {
          border-color: $color-white;

          &:not(:hover) {
            background: $color-white;
          }
        }
      }
    }
  }
}

.Td {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  min-height: 60px;
}

.Thead {
  border-bottom: 2px solid $background-lighten;
  display: flex;
  flex: 0 0 50px;
  height: 50px;
  padding: 0 28px;

  .Tr {
    height: 100%;
  }
}

.Th {
  align-items: center;
  color: $color-text-secondary;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  height: 100%;
  justify-content: flex-start;
}

.Tr {
  display: flex;
  width: 100%;
}
