@import '~@styles/colors.scss';

.Root {
  align-items: center;
  margin: 20px 0;
}

.Author {
  align-items: center;
  display: flex;
  position: absolute;
  right: 0;
}

.Date {
  color: $color-gray-600;
  font-size: 12px;
}

.Header {
  align-items: center;
  border-bottom: 2px solid $color-green-500;
  display: flex;
  height: 64px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.Name {
  font-weight: 600;
  margin: 0 20px 0 10px;
}

.Text {
  margin: 16px 60px 0;
  text-align: center;
}

.Title {
  font-size: 12px;
  font-weight: 600;
}
