@import '~@styles/colors.scss';

.Root {
  background-color: $color-blue-50;
  border-radius: 16px;
  display: flex;
  padding: 7px 12px;

  &Is {
    &Incoming {
      background-color: $color-gray-100;
    }
  }
}

.Date {
  align-items: flex-end;
  color: $color-gray-600;
  display: flex;
  font-size: 12px;
  margin: 0 0 0 10px;
}

.Status {
  margin: 0 0 0 4px;

  &Is {
    &Read {
      color: $color-blue-500;
    }
  }
}
