@import '~@styles/colors';

.Root {
  display: flex;
  width: 100%;
}

.Container {
  flex: 1 1 auto;
  margin: 0 40px 40px 0;
  max-width: calc(100% - 260px);
}

.Link {
  align-items: center;
  display: flex;
  flex: 0 0 88px;
}

.Logo {
  background: url('~@assets/logo.svg') no-repeat center center / contain;
  flex: 0 0 47px;
  height: 57px;
  width: 47px;
}

.Sidebar {
  display: flex;
  flex: 0 0 260px;
  flex-direction: column;
  padding: 0 40px;
}

.Title {
  color: $color-gray-900;
  margin: 0 0 0 4px;
}
