@import '~@styles/colors';

.Root {
  background: $background-lighten;
  border: 2px solid $background-light;
  border-radius: 16px;
  padding: 12px;
  position: relative;

  &Is {
    &Selected {
      border: 2px solid $background-darken !important;
    }
  }
}
