@import '~@styles/colors';

.Root {
  transition: box-shadow .2s;
  width: 300px;

  &Is {
    &Selected {
      box-shadow: 0 0 0 2px $color-green-500;
    }
  }
}

.Avatar {
  background: rgba($color-green-500, .2);
  border-radius: 100%;
  height: 100%;
  width: 100%;
}
