// Backgrounds
$background-lighten: #f5f5f3;
$background-light: #dcdcdc;
$background-medium: #c4c4c4;
$background-darken: #ababab;

// Colors
$color-dark: #2a2628;
$color-blue: #5c68ec;
$color-brown: #887466;
$color-green: #55b242;
$color-orange: #f8a652;
$color-pink: #d13bfb; // #cd6cee
$color-purple: #8c67f4;
$color-red: #ee6c7e;
$color-sky: #0089ff;
$color-yellow: #ffe26c;
$color-white: #fff;

// Sources
$color-telegram: #08c;
$color-vk: #2787f5;

// Text
$color-text: $color-dark;
$color-text-secondary: rgba($color-dark, .6);

$coloring-variants: (
  Blue: $color-blue,
  Dark: $color-dark,
  Gray: $background-darken,
  Green: $color-green,
  Orange: $color-orange,
  Pink: $color-pink,
  Purple: $color-purple,
  Red: $color-red,
  Sky: $color-sky,
  Yellow: $color-yellow
);

@mixin coloring {
  &Color {
    @each $name, $value in $coloring-variants {
      &#{$name} {
        @include color($value);
      }
    }
  }
}
