@import '~@styles/colors';

@mixin color($color) {
  border: 3px solid rgba($color, .2) !important;

  &::before {
    background: $color !important;
    box-shadow: 0 2px 3px 0 rgba($color, .6) !important;
  }

  &:hover {
    border-color: rgba($color, .6) !important;
  }
}

.Root {
  background: $color-white !important;
  height: 20px !important;
  transition: all .2s;
  width: 20px !important;

  @include coloring();

  &::before {
    border-radius: 100%;
    content: '';
    display: none;
    height: 10px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  &Is {
    &Connected {
      &::before {
        display: block;
      }
    }
  }
}
