@import '~@styles/colors.scss';

.Root {
  align-items: center;
  display: flex;
}

.Avatar {
  border: 0;
}

.Content {
  margin: 0 0 0 16px;
}

.Description {
  color: $color-gray-500;
}

.Title {
  color: $color-gray-800;
}
