@import '~@styles/colors';

.Root {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 60px);
  justify-content: center;
}

.Icon {
  flex: 0 0 60px;
  font-size: 20px;
  height: 60px;
  transition: all .2s;
  width: 60px;
}

.Item {
  align-items: center;
  display: flex;
  flex-direction: column;

  &:hover,
  &IsSelected {
    cursor: pointer;

    .Icon {
      background: rgba($color-blue, .8);
      color: $color-white;
      text-shadow: 0 4px 4px rgba($color-white, .4);
    }

    .Title {
      color: $color-text;
    }
  }

  &IsDisabled {
    pointer-events: none;

    .Icon {
      background: $background-lighten;
      color: $color-text-secondary;
      text-shadow: none;
    }

    .Title {
      color: $background-light;
    }
  }
}

.Title {
  color: $color-text-secondary;
  margin: 12px 0 0;
  transition: all .2s;
}
