@import '~@styles/breakpoints';
@import '~@styles/colors';

.Root {
  position: fixed;
  top: 40px;
  z-index: 4;

  @include breakpoints(mobile) {
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
  }
}

.Actions {
  align-items: center;
  display: flex;
  margin: 0 0 0 40px;

  @include breakpoints(mobile) {
    display: none;
  }

  & > *:not(:first-child) {
    margin: 0 0 0 20px;
  }
}

.Container {
  align-items: center;
  background: #eef4ec;
  border: 4px solid $color-gray-0;
  border-radius: 50px;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: 100%;

  @include breakpoints(mobile) {
    border-radius: 36px;
    border-width: 3px;
    height: 74px;
  }
}

.Left {
  align-items: center;
  color: $color-brown;
  display: flex;
  flex: 1 1 auto;
}

.Logo {
  position: relative;
  top: 4px;
}

.Title {
  margin: 0 0 0 12px;

  @include breakpoints(mobile) {
    margin: 0 0 0 8px;
  }
}
