@import '~@styles/colors';

.Actions {
  align-self: flex-end;
  height: 100%;
}

.Container {
  background: transparent;
  column-gap: 32px;
  display: grid;
  grid-template-areas:
    'a c'
    'b c';
  grid-template-columns: 240px 1fr;
  grid-template-rows: 240px 240px;
  row-gap: 32px;

  // @todo - mock
  & > * {
    background: $color-gray-0;
    border-radius: 20px;

    &:nth-child(1) {
      grid-area: a;
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }
  }
}

.Tabs {
  height: 100%;
}
