@import '~@styles/colors';

.Actions {
  align-self: flex-end;
  height: 100%;
}

.Container {
  height: 520px;
}

.Chart {
  border-radius: 8px;
  flex: 1 1 auto;
  margin: 20px 0 0;
  max-height: calc(100% - 72px);
}

.Tabs {
  height: 100%;
}
