@import '~@styles/colors.scss';

@mixin colorPlug($color) {
  .Plug {
    background: $color;
    color: $color-gray-0;
    text-shadow: 0 4px 4px rgba($color-gray-0, .4);
  }
}

.Root {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;

  &Color {
    &Blue {
      @include colorPlug($color-primary);
    }

    &Gray {
      @include colorPlug($color-gray-500);
    }

    &Green {
      @include colorPlug($color-green-500);
    }

    &Orange {
      @include colorPlug($color-orange-500);
    }

    &Pink {
      @include colorPlug($color-pink-500);
    }

    &Purple {
      @include colorPlug($color-purple-500);
    }

    &Red {
      @include colorPlug($color-red-500);
    }

    &Sky {
      @include colorPlug($color-sky-500);
    }

    &Yellow {
      @include colorPlug($color-yellow-500);
    }
  }
}

.Photo {
  border-radius: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.Plug {
  align-items: center;
  border-radius: 100%;
  display: flex;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

.Source {
  align-items: center;
  background: $color-gray-100;
  border: 2px solid $color-gray-0;
  border-radius: 100%;
  display: flex !important;
  font-size: 10px;
  height: 20px;
  justify-content: center;
  left: 28px;
  position: absolute;
  top: 20px;
  width: 20px;

  &Variant {
    &VK {
      color: $color-vk;
    }
  }
}
