@import '~@styles/colors';

.Root {
  background: $color-gray-50;
  width: 100%;
}

.Half {
  background-image: linear-gradient(to bottom, #5461ea, #76adff);
  margin: 300px 0 0;
  padding: 380px 0 0;
  position: relative;
  width: 100%;

  &Cover {
    &::after {
      background: url('./assets/half-bg-2.png') no-repeat;
      background-size: contain;
      bottom: 0;
      content: '';
      display: block;
      height: 1007px;
      position: absolute;
      right: 0;
      width: 1920px;
    }

    &::before {
      background: url('./assets/half-bg-1.png') no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 728px;
      left: 0;
      position: absolute;
      top: -528px;
      width: 1920px;
    }
  }
}

.Intro {
  background-image: linear-gradient(to bottom, #76adff, #5461ea);
  color: $color-gray-0;
  height: 1400px;
  width: 100%;
}

.Wrapper {
  max-width: 1200px;
  width: 100%;
}
