@import '~@styles/colors';

.Root {
  background-color: darken($background-lighten, 4);
  border: 2px solid $background-light;
  border-radius: 16px;
  display: flex;
  padding: 7px 12px;

  &Is {
    &Bot {
      background-color: $color-green !important;
      border-color: $color-green;
    }

    &Outcoming {
      background-color: $color-blue;
      border-color: $color-blue;
      color: $color-white;

      .Date {
        color: rgba($color-white, .8);
      }
    }
  }
}

.Date {
  align-items: flex-end;
  color: $color-text-secondary;
  display: flex;
  margin: 0 0 0 10px;
}

.Status {
  margin: -2px 0 0 4px;
  position: relative;
  top: -4px;

  &Is {
    &Read {
      color: $color-blue;
    }
  }
}
