@import '~@styles/reset.scss';

.Column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 24px;

  & > *:not(:first-child) {
    margin: 8px 0 0;
  }
}

.List {
  align-items: flex-start;
  display: flex;
  padding: 24px;
}
