@import '~@styles/colors';

.Root {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;

  &Is {
    &Editable {
      margin: -14px -14px 0;

      .Editor {
        background: $color-white;
        border: 2px solid $background-darken;
        border-radius: 16px 16px 0 0;
        padding: 12px;
      }
    }

    &Focused {
      .Actions {
        background: $color-blue;
      }

      .Editor {
        border-color: $color-blue;
        padding: 12px 12px;
      }
    }
  }
}

.Actions {
  align-items: center;
  background: $background-darken;
  border-radius: 0 0 4px 4px;
  bottom: -24px;
  display: flex;
  position: absolute;
  right: 0;

  & > * {
    background: transparent !important;
  }
}

.Editor {
  line-height: 24px;
  position: relative;
  transition: border all .2s;
  width: 100%;
  z-index: 2;
}

.Limit {
  color: $color-white;
  flex: 0 0 80px;
  padding: 0 4px;
}

.Variable {
  height: 20px;
  min-width: 28px;
  width: 28px;
}
