@import '~@styles/colors';

@mixin color($color) {
  .Title {
    color: $color;
  }
}

.Root {
  background: $background-lighten;
  border-radius: 12px;
  max-width: 100%;
  overflow: hidden;
  padding: 12px;
  position: relative;
  transition: all .2s;

  @include coloring;

  &:hover {
    background: $background-light;
    cursor: pointer;

    .Actions {
      opacity: 1;
      transform: translateY(0);
    }

    .Cover {
      opacity: 1;
    }

    .Value {
      color: $color-text;
    }
  }
}

.Actions {
  display: grid;
  grid-column-gap: 4px;
  grid-template-columns: repeat(2, 32px);
  opacity: 0;
  position: absolute;
  right: 12px;
  top: 16px;
  transform: translateY(100%);
  transition: all .2s;

  & > button {
    background: $color-white;
    box-shadow: 0 6px 12px rgba($color-dark, .1);
    height: 32px;
    min-width: 32px;
    width: 32px;
  }
}

.Cover {
  background: $background-light;
  box-shadow: -12px 0 12px $background-light;
  height: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .2s;
  width: 80px;
}

.Value {
  color: $color-text-secondary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
