@import '~@styles/colors';

@mixin color($color) {
  color: $color;

  &:hover {
    background: rgba($color, .1);
    border-color: $color;
  }

  &:focus {
    border-color: $color;
  }
}

.Root {
  background: $color-white;
  border: 2px solid $background-light;
  border-radius: 8px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  height: 40px;
  position: relative;
  transition: all .2s;
  width: 100%;

  &:hover:not(:active) {
    cursor: pointer;
  }

  &Color {
    &Default {
      &:hover:not(:active) {
        background: $background-lighten;
      }
    }
  }

  @include coloring();
}
